/*
 * This file is part of nattvara/detectify-guestbook.
 *
 * (c) Ludwig Kristoffersson <ludwig@kristoffersson.org>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

@import 'variables';

body, p, a, h1, h2, h3, h4, h5 {
    font-family: $font, serif;
}

body {
    background: $primary;
}

.message.el-card > .el-card__body {
    padding-top: 0;
}

.el-badge__content {
    border: none !important;
}
