/*
 * This file is part of nattvara/detectify-guestbook.
 *
 * (c) Ludwig Kristoffersson <ludwig@kristoffersson.org>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

$font: 'Philosopher';
$font-color: #000000;

$primary: #ffe9b3;
$secondary: mix($primary, $font-color, 90%);
$action: #450099;
$danger: #ff003b;
